# files to include in the source distribution on pypi (setup.py and README.md are included automatically)

include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE.txt
include requirements-dev.txt
include requirements-extras.txt
include setup.cfg

recursive-include examples *.ipynb *.py
recursive-include src *.h *.cpp
